.creator {
  display: grid;
}

.input {
  margin: 10px;
}

.item {
  width: 100%;
  font-family: Roboto, sans-serif;
  height: 48px;
  line-height: 48px;
}

.table td {
  width: 100px;
}

.label {
  float: left;
}

.removeButton {
  float: right;
}
