.list {
  list-style: none;
}

.item {
  width: 512px;
  font-family: Roboto, sans-serif;
  height: 48px;
  line-height: 48px;
}

.username {
  float: left;
  width: 100px;
}

.checkbox {
  width: 180px;
}

.fnButton {
  vertical-align: middle;
}
