.form {
  margin: 10px;
}

.head {
  font-weight: bold;
}

.table {
  width: calc(100% - 20px);
  margin: 10px;
}

.table td {
  width: 33%;
  margin: 10px;
  font-family: Roboto, sans-serif;
  height: 48px;
  line-height: 48px;
}

.list {
  list-style: none;
}

.filter {
  margin-left: 10px;
}

.username {
  float: left;
  width: 100px;
}

.checkbox {
  width: 180px;
}

.fnButton {
  vertical-align: middle;
}
